@import './globalvars/globalvars.scss';

// Reset
@import '../../node_modules/reset-css/reset.css';

// Fonts
html {
  color: $greyDark;
  font-family: $fontDefault;
  font-size: 10px;
}

// App css
.app {
  display: block;
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 32%;
  }
  &__contents {
    width: 68%;
    margin-left: 32%;
  }
}

@include breakpoint(lg) {
  html {
    font-size: 9px;
  }
}

@include breakpoint(md) {
  .app {
    &__nav {
      position: static;
      width: 100%;
    }
    &__contents {
      width: 100%;
      margin-left: 0;
    }
  }
}

@include breakpoint(sm) {
  html {
    font-size: 8px;
  }
}