// Breakpoints
$screen_tablet: 1440px;
$screen_mobile: 768px;

// Colors
$black: #000;
$dark: #111111;
$darkMedium: #1b1b1b;
$grey: #aaa;
$primary: #ff718a;
$disabled: gray;

// Fonts
$fontGugi: 'Gugi', arial, sans-serif;
$fontDefault: 'Roboto', 'Noto Sans KR', arial, sans-serif;

// Common Layout
$contentPadding: 8rem;