@import '../styles/globalvars/globalvars.scss';

$component: 'contents';

.#{$component} {
  width: 100%;
  max-width: 1000px;
  padding: 14rem $contentPadding 18rem;
  box-sizing: border-box;
  &__section {
    margin-top: 14rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

@include breakpoint(sm) {
  .#{$component} {
    padding: 7rem $contentPaddingSm 9rem;
  }
}